<div id="uploadImage">
  <form> 
    <button
       type="button"
       class="upload"
       data-bind="enable: ko_is_Ready"
       >
      upload image
    </button>
  </form>
  <img id="uploadedPic"/>
</div>
<script>
    const profilePicture = new Uppload({
        value: "",
        bind: ["#uploadedPic"],
        call: ["div#uploadImage button.upload"],
        //endpoint: "",
        uploadFunction: (file, metadata) => {
            return model.uploadImage(file,metadata);
           
        },
        allowedTypes: "image",
        services: ["upload", "camera", "link"],
        crop: {
            startSize: [100,100, "%"]
        }
    });
</script>
