<ul class="menu">
  <li><a href="/">Home</a></li>
  <li><a href="/{{subSite}}s/latest">Latest {{subSite}}s in date order</a></li>
  <!-- <li><a href="top-tags">Top tags</a></li> -->
  <li><a href="/{{subSite}}s">All {{subSite}}s in date order</a></li>
  <li><a href="/{{subSite}}s/tags">All tags</a></li>
  <li><a href="/{{subSite}}s/add">add {{subSite}}</a></li>
  <li>
    <a href="javascript: {{>webmarklet}}">
      add webmark
    </a> webmarklet ← webmark this link, using browser webmark, and put it in your menu bar.
  </li>
  <li><a href="/login">login</a></li>
</ul>
