<ul class="menu">
  <li><a href="/webmarks/latest">Latest bookmarks in date order</a></li>
  <!-- <li><a href="top-tags">Top tags</a></li> -->
  <li><a href="/webmarks">All bookmarks in date order</a></li>
  <li><a href="/webmarks/tags">All tags</a></li>
  <li><a href="/webmarks/add">add bookmark</a></li>
  <li>
    <a href="javascript: {{>webmarklet}}">
      add bookmark
    </a> bookmarklet ← bookmark this link, using browser bookmark, and put it in your menu bar.
  </li>
  <li><a href="/login">login</a></li>
</ul>
