
.sidebar  {grid-area: sidebar; }
.sidebar2 {grid-area: sidebar2;}
.content  {grid-area: content;}
.header   {grid-area: header;}
.footer   {grid-area: footer;}

html, body, .wrapper{
    margin: 0;
    padding: 0;
}

.wrapper {
  height: 100vh;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px auto 120px;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header  header header"
	"sidebar content sidebar2"
	"sidebar footer footer";
}


.box {
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header, .footer {
  background-color: #999;
}

.sidebar2, .sidebar {
  background-color: #ccc;
}
