
nav      {grid-area: sidebar; }
aside    {grid-area: sidebar2;}
main     {grid-area: content;}
header   {grid-area: header;}
footer   {grid-area: footer;}

html, body, .wrapper, main{
    margin: 0;
    padding: 0;
}

.wrapper {
  height: 100vh;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px auto 120px;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header  header header"
	"sidebar content sidebar2"
	"sidebar footer footer";
}

main {
    display:grid;
}


.box {
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

header, footer {
  background-color: #999;
}

nav, aside {
  background-color: #ccc;
}
