/*****************************************************************/
/*Layout*/

/*map html to css-grid*/
nav      {grid-area: sidebar; }
aside    {grid-area: sidebar2;}
main     {grid-area: content;}
header   {grid-area: header;}
footer   {grid-area: footer;}

/*use exactly 100% of screen*/
html, body, .wrapper, main{
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    width: 100%;
}

/*Define the grid*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px auto 120px;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header  header header"
	"sidebar content sidebar2"
	"sidebar footer footer";
}

/*Main keep out of the way. Use grid as it behaves well*/
main {
    display:grid;
}

/*****************************************************************/
/*style*/

.box {
  border-radius: 5px;
  z-padding: 10px;
  z-font-size: 150%;
}

header, footer {
  background-color: #999;
}

nav, aside {
  background-color: #ccc;
}
