<html>
  <head>
    <meta charset="utf-8"> 
    <title>{{page_title}}</title>
    <link rel="stylesheet" type="text/css" href="/style/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/style/site.css"/>
  </head>
  <body class="wrapper">
    <header class="box">
      <h1>{{page_title}}</h1>
    </header>
    <main class="box">
    <form class="flex">
      <div>
        Title:
        <input
           class="stretch",
           type="text",
           data-bind="
                      value: ko_title
                      ">
        </input>
      </div>
      <div>
        url:
        <input
           class="stretch",
           type="text",
           data-bind="
                      value: ko_url
                      ">
        </input>
      </div>
      <div>
        description:
        <input
           class="stretch",
           type="text",
           data-bind="
                      value: ko_description
                      ">
        </input>
      </div>
      <div>
        Tags:
        <input
           class="stretch",
           type="text",
           data-bind="
                      value: ko_tags_astext
                      ">
        </input>
      </div>
      <!--<span data-bind="text: JSON.stringify(ko_similar_urls(),null,4)">-->
      </span>
      <div>
        Similar URLs:
        <ul data-bind="foreach: ko_similar_urls">
          <li>
            <span data-bind="text: url"></span>
            <a class="button" data-bind="attr:{href:edit_url}">Edit</a>
          </li>
        </ul>
      </div>  
      <div>
        user:
        <input
           readonly="readonly",
           class="stretch",
           type="text",
           data-bind="
                      value: ko_user
                      ">
        </input>
      </div>
      <div>
        date:
        <input
           readonly="readonly",
           class="stretch",
           type="text",
           data-bind="
                      value: ko_date
                      ">
        </input>
      </div>
      <div>
        private:
        <input
           type="checkbox",
           data-bind="
                      checked: ko_is_private
                      ">
        </input>
      </div>
      <div>
        id:
        <input
           readonly="readonly",
           class="stretch",
           type="text",
           data-bind="
                      value: ko_uuid
                      ">
        </input>
      </div>
      <div>
        revision:
        <input
           readonly="readonly",
           class="stretch",
           type="text",
           data-bind="
                      value: ko_revision
                      ">
        </input>
      </div>

      <button data-bind="
                         enable: ko_is_uuidReady,
                         click: save
                         ">
        save
      </button>

      <div>
        json data:
        <textarea
           readonly="readonly",
           class="stretch",
           data-bind="
                      value: ko_json_data,
                      attr:{ rows: ko_json_data_height }
                      ">
        </textarea>
      </div>

    </form>
    </main>
    <nav class="box">
      {{>menu}}
    </nav>
  </body>
  {{>scripts}}
  <script>

/*This function is not the best it could be*/
function htmlDecoded(str){
    const temp=document.createElement("pre");
    temp.innerHTML=str;
    return (str=="") ? "" : temp.firstChild.nodeValue;
}

//----------------------------------------------------------------
//class GuidMaker

function GuidMaker(){
    var self=this;
    self.emptyThreshold=5;
    self.fetchQuantity=16;

    self.url="/_uuids?count="+self.fetchQuantity;

    self.requests1= -self.fetchQuantity;
    self.requests2= -self.fetchQuantity;
    self.guids=[];
    self.ajax=new Array();
    self._getSomeGuids();
};

GuidMaker.prototype._getSomeGuids= function(){
    var self=this;

    r=$.ajax({
        dataType: "json",
        url: self.url,
        cache: false,
        success: function( data ) {
            self.guids=$.merge(self.guids, data.uuids);
        }
    });
    self.ajax.push(r);
};

GuidMaker.prototype._nextGuid= function(){
    var self=this;
    var result= self.guids.pop();
    return result;
};

GuidMaker.prototype.Guid= function(callback){
    var self=this;

    self.requests1 += 1;
    self.requests2 += 1;

    if ( self.requests1 > -self.emptyThreshold )
    {
        self.requests1 -= self.fetchQuantity;
        self._getSomeGuids();
    }

    if ( self.requests2 > 0 )
    {
        self.requests2 -= self.fetchQuantity;
        self.ajax.shift();
    }
    
    $.when(self.ajax[0]).then(
        function() {
            callback(self._nextGuid());
        }
    );
};

function auto_grow(element) {
    const eh = element.clientHeight;
    element.style.height = "5px";
    const sh= element.scrollHeight;
    element.style.height = Math.max(eh,sh)+"px";
}

_jsonFetch_asyncAjax= function(url, callback){
    $.ajax({
        dataType: "json",
        url: url,
        success: callback
    });
}


function addWebMarkModel(){
    const self=this;
    const now=new Date().toJSON();
    const date= "{{bm_created_at}}" || now;
    const _jsonFetch = _jsonFetch_asyncAjax;


    self.ko_title=ko.observable(htmlDecoded("{{bm_name}}"));
    self.ko_url=ko.observable(htmlDecoded("{{bm_url}}"));
    self.ko_description=ko.observable(htmlDecoded("{{bm_description}}"));
    self.ko_tags_astext=ko.observable("{{bm_tags_asText}}");
    self.ko_user=ko.observable("{{bm_author}}");
    self.ko_date=ko.observable(date);
    self.ko_is_private=ko.observable({{bm_is_private}});
    self.ko_revision=ko.observable("{{bm_rev}}");
    self.ko_uuid=ko.observable("{{docId}}");
    self.ko_similar_urls=ko.observableArray([]);
        
    self.is_uuidReady= function() {
        return  self.ko_uuid() != "";
    };
    
    if ( !self.is_uuidReady() ){
        self.guidMaker = new GuidMaker();
        self.guidMaker.Guid( function(guid) {
            self.ko_uuid(guid);
        });
    }

    self.ko_is_uuidReady= ko.computed( function() {
        return  self.ko_uuid() != "";
    },self);
    
    self.ko_tags=ko.computed(function(){
        const input=self.ko_tags_astext();
        return input==""?
            []:
            input.split(" ");
    },self);
    
    self.data = function() {
        data= {
            name: self.ko_title(),
            url: self.ko_url(),
            description: self.ko_description(),
            created_at: self.ko_date(),
            is_private : self.ko_is_private(),
            author: self.ko_user(),
            tags: self.ko_tags(),
            type: "{{type}}"
        };
    
        data._rev= self.ko_revision() || undefined;
        return data;
    };
    
    self.ko_json_data=ko.computed(function(){
        const data={
            id:self.ko_uuid(),
            data:self.data()
        };
        return JSON.stringify(data,null,4);
    },self);

    self.ko_json_data_height=ko.computed(function(){
        const txt=self.ko_json_data();
        return (txt.match(/\n/g) || []).length;
    },self);
    
    self.json_data = function() {
        return JSON.stringify(self.data());
    };
    
    self.save= function() {
        if (self.is_uuidReady()){
            $.ajax({
                url: "/db/"+self.ko_uuid(),
                type: "PUT",
                data: self.json_data(),
                success: function(responce){
                    $("body form")
                        .replaceWith(
                            "<h2>All Done</h2>"
                        );
                }
            });
        }
    };

    function _getSimilarUrls(url){      
        const lookup="/webmarks-by-url?"+
              'startkey=["' +url+ '"]&' +
              'endkey=["' +url+ '\ufff0"]'
        _jsonFetch(
            lookup,
            function(data){
                $.each(data.rows, function(index, row){
                    const url=row.key[0];
                    const edit_url= "/edit/"+row.id;
                    self.ko_similar_urls.push({
                        url:url,
                        edit_url:edit_url
                    });
                });
            });
    }
    function getSimilarUrls(){
        var re = new RegExp('^[^:]+:/+');
        var full_url=htmlDecoded("{{bm_url}}");
        var urlWithoutProtocol = full_url.replace(re,"");
        _getSimilarUrls(urlWithoutProtocol);
    }
    getSimilarUrls();
}

ko.applyBindings(new addWebMarkModel());

  </script>
</html>
