<html>
  <head>
    <meta charset="utf-8"> 
    <title>{{title}}</title>
    {{>scripts}}
  </head>
  <body>
    <h1>{{title}}</h1>
    <form class="flex">
      <div>
	Title:
	<input
	   class="stretch",
	   type="text",
	   data-bind="
	   value: title
	   ">
        </input>
      </div>
      <div>
	url:
	<input
	   class="stretch",
	   type="text",
	   data-bind="
	   value: url
	   ">
        </input>
      </div>
      <div>
	description:
	<input
	   class="stretch",
	   type="text",
	   data-bind="
	   value: description
	   ">
        </input>
      </div>
      <div>
	Tags:
	<input
	   class="stretch",
	   type="text",
	   data-bind="
	   value: tags_astext
	   ">
        </input>
      </div>
      <div>
	user:
	<input
	   readonly="readonly",
	   class="stretch",
	   type="text",
	   data-bind="
	   value: user
	   ">
        </input>
      </div>
      <div>
	date:
	<input
	   readonly="readonly",
	   class="stretch",
	   type="text",
	   data-bind="
	   value: date
	   ">
        </input>
      </div>
      <div>
	private:
	<input
	   type="checkbox",
	   data-bind="
	   value: is_private
	   ">
        </input>
      </div>
    
      <button data-bind="
	      enable: true,
	      click: save
	      ">
	save
      </button> ← currently not working

      <div>
	json data:
	<textarea
	   readonly="readonly",
	   class="stretch",
	   data-bind="
	   value: show_json_data
	   ">
        </textarea>
      </div>
      
    </form>
  </body>
  <script>

/*This function is not the best it could be*/
function htmlDecoded(str){
    const temp=document.createElement("pre");
    temp.innerHTML=str;
    return (str=="") ? "" : temp.firstChild.nodeValue;
}

function addBookmarkModel(){
    const self=this;
    const now=new Date().toJSON();

    this.title=ko.observable(htmlDecoded("{{bm_title}}"));
    this.url=ko.observable(htmlDecoded("{{bm_url}}"));
    this.description=ko.observable(htmlDecoded("{{bm_description}}"));
    this.user=ko.observable("ctrl_alt_delor@home");
    this.is_private=ko.observable(false);
    this.date=ko.observable(now);
    this.tags_astext=ko.observable("");

    this.tags=ko.computed(function(){
	return this.tags_astext();
    },this);
    
    this.data = function() {
	return {
	    name: this.title(),
	    url: this.url(),
	    description: this.description(),
	    date: this.date(),
	    "private" : this.is_private(),
	    user: this.user(),
	    tags: this.tags(),
	    type: "webmark"
	};
    };
    
    this.show_json_data=ko.computed(function(){	
	return JSON.stringify(this.data(),null,4);
    },this);
    




    this.json_data = function() {
	return JSON.stringify(data());
    };
    
   
    this.save= function() {
	$.ajax({
	    url: "http://bookmarkdb/db/0000",
	    type: "PUT",
	    data: json_data(),
	    success: function(responce){
	    }
	});
    };
}

ko.applyBindings(new addBookmarkModel());

  </script>
  {{<types-ko-templates}}
</html>
