<html>
  <head>
    {{>head}}
  </head>
  <body class="wrapper">
    <header class="box">
      <h1>{{page_title}}</h1>
    </header>
    <main class="box">
    <form class="flex">
      <div class="stretch">
        Title:
        <input
           type="text",
           data-bind="
                      value: ko_title
                      ">
        </input>
      </div>
      {{#if_webmark}}
      <div class="stretch">
        url:
        <input
           type="text",
           data-bind="
                      value: ko_url
                      ">
        </input>
      </div>
      <!--<span data-bind="text: JSON.stringify(ko_similar_urls(),null,4)">
      </span>-->
      <div>
        Similar URLs:
        <ul data-bind="foreach: ko_similar_urls">
          <li>
            <span data-bind="text: url"></span><br/>
            <span data-bind="text: name"></span>
            <a class="button" data-bind="attr:{href:edit_url}">Edit</a>
          </li>
        </ul>
      </div>  
      <div class="stretch">
        description:
        <input
           type="text",
           data-bind="
                      value: ko_description
                      ">
        </input>
      </div>
      {{/if_webmark}}
      {{#if_blog}}
      <div class="stretch">
        Content markup:
	<textarea
           rows= 10,
           data-bind="
             textInput: ko_content
                      ">
        </textarea>
      </div>
      <div
         data-bind="
         html: ko_content_preview
         ">
      </div>
      {{/if_blog}}
      <div class="stretch">
        Tags:
        <input
           type="text",
           data-bind="
                      value: ko_tags_astext
                      ">
        </input>
      </div>
      <div class="hidden stretch">
        user:
        <input
           readonly="readonly",
           type="text",
           data-bind="
                      value: ko_user
                      ">
        </input>
      </div>
      <div class="stretch">
        date:
        <input
           readonly="readonly",
           type="text",
           data-bind="
                      value: ko_date
                      ">
        </input>
      </div>
      <div>
        private:
        <input
           type="checkbox",
           data-bind="
                      checked: ko_is_private
                      ">
        </input>
      </div>
      <div class="hidden stretch">
        id:
        <input
           readonly="readonly",
           type="text",
           data-bind="
                      value: ko_uuid
                      ">
        </input>
      </div>
      <div class="hidden stretch">
        revision:
        <input
           readonly="readonly",
           type="text",
           data-bind="
                      value: ko_revision
                      ">
        </input>
      </div>

      <button data-bind="
                         enable: ko_is_Ready,
                         click: save
                         ">
        save
      </button>

      <hr/>
      <div class="stretch">
        json data:
        <textarea
           readonly="readonly",
           data-bind="
                      value: ko_json_data,
                      attr:{ rows: ko_json_data_height }
                      ">
        </textarea>
      </div>

    </form>
    </main>
    <nav class="box">
      {{>menu}}
    </nav>
  </body>
  {{>scripts}}
  {{>add-webmark-js}}
</html>
