<!DOCTYPE HTML >
<html>
  <head>
    <meta charset="utf-8"> 
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style/site.css"/>
  </head>

  <body>     
    <h1>{{title}}</h1>
    
    {{#ifdef_bookmarks}}
      <ul class="boxed">
        {{#bookmarks}}
          
          {{#ifdef_date}}
            <h2>{{date}}</h2>
          {{/ifdef_date}}
          
          {{#main}}
            <li>
	      <h3>{{name}}</h3>
	      {{#ifdef_description}}	
	        <div>{{description}}</div>
	      {{/ifdef_description}}
	      <a href="{{url}}">{{url}}</a><br/>
	      tags:
              <ul class="inline comma">
	        {{#tags}}
	        <li><a style="color:green" href="{{url}}">
		    {{name}}
		</a></li>
	        {{/tags}}
	      </ul>
              <a href="{{edit_url}}">
                <button>Edit</button>
              </a>
            </li>
          {{/main}}
          
        {{/bookmarks}}
      </ul>  
    {{/ifdef_bookmarks}}
    
  </body> 
</html>
